<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notepad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"  />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_shunxulianxi"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light" 
            android:label="@string/title_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteEditActivity"
            android:label="@string/title_activity_note_edit" >
        </activity>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.GET_TASKS"/>
	
	<!-- 手机网络访问权限 必须权限-->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- 手机状态访问权限  必须权限-->
   	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
   	<!-- 大略位置权限  必须权限-->
   	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
   	<!-- SD卡写入权限  必须权限 -->
   	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
   	
   	<!-- 设备震动权限  可选权限 -->
   	<uses-permission android:name="android.permission.VIBRATE" />
   	<!-- 识别网络状态权限 可选权限 -->
   	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   	<!-- 摄像头权限 可选权限 -->
   	<uses-permission android:name="android.permission.CAMERA" />
   	<!-- 录音权限  可选权限-->
   	<uses-permission android:name="android.permission.RECORD_AUDIO" />
   	<!-- 识别wifi状态权限 可选权限 -->
   	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>
